/* 固定 */
body {
  margin: 0;
  font-family: Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo,
  sans-serif;
  font-size: 16px;
}
.container {
  max-width: 1170px;
  padding: 0 30px;
  margin: 0 auto;
  /* background-color:gray; */
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color:inherit;
  transition: .3s;
}
a:hover{
  opacity: .7;
}
img {
  vertical-align: bottom;
  height: auto;
}
h1,h2,h3{
  margin: 0;
}

/* header */
.header-logo {
  text-align: center;
  max-width: 1180px;
  margin: 0 auto;
}
.header-logo img {
 margin: 50px auto;
}

/* main */
.main-visual img{
  /* height: 590px; */
  width: 100%;
  object-fit: cover;
}

/* nav */
.main-nav  ul{
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.main-nav li {
  font-size: 18px;
  letter-spacing: .1em;
}
.main-nav li+li {
  margin-left: 80px;
}

/* concept */
.concept-wrapper {
  display: flex;
  align-items: center;
  margin-top: 90px;
}
.concept-img {
  width: 50%;
}
.concept-img img {
  width: 100%;
  object-fit: cover;
}
.concept-info {
  margin-left: 40px;
  letter-spacing: .1em;
  width: 50%;
}
/* .concept-info h3 {
  font-size: 16px;
  margin: 0; */
/* } */
.concept-info h1{
  font-size: 32px;
  color: #24A8BF;
  margin-top: 25px;
  margin-bottom: 0;
}
.concept-info p{
  font-size:16px ;
  letter-spacing: .1em;
  line-height: 1.8;
  margin: 0;
}
.concept-p {
  margin-top: 40px;
}

/* blog */
.blog-header  {
  text-align: center;
  margin-top: 100px;
}
.blog-header h1 {
  font-size: 32px;
  font-weight: bold;
  color:#24A8BF
}
.blog-header p {
  margin-top: 10px;
  font-size: 13px;
}
.blog-info  ul{
  display: flex;
  flex-wrap: wrap;
  gap:  30px;
}
.blog-info img {
  /* width: calc((100% - 60px) /3); */
  width: 100%;
}
.blog-info li {
  width: calc((100% - 60px) /3);
}
.blog-info li h2 {
  font-size: 15px;
  margin-top: 20px;
  line-height:1.6;
}
.blog-info li time {
  font-size: 12px;
  margin-top: 10px;
}
.blog button {
  display: block;
  width: 220px;
  height: 50px;
  border-radius: 3px;
  border: 1px solid #24A8BF;
  margin: 30px auto 0;
  text-align: center;
  position: relative;
  background-color: white;
}
.blog button h1 {
  font-size: 14px; 
  color: #24A8BF;
}
.blog button::after{
  content: "";
  background-image: url(imges/icon_arrow-right.png);
  color: #24A8BF;
  display: block;
  position: absolute;
  top:50%;
  right:1rem ;
  transform: translateY(-50%);
  height: 9px;
  width: 5px;
  background-repeat:no-repeat ;
  background-size:5px 9px ;
}

/* footer */
footer {
  background-color: black;
  height: 198px;
  text-align: center;
  margin-top: 50px;
}
.footer-logo img {
  height: 36px;
  width: 180px;
  margin-top: 70px;
  margin-bottom: 50px;
}
footer small {
  color: #8B8B8B;
  font-size:12px ;
}

@media(max-width:768px) {
  body {
    font-size: 15px;
  }
.container {
  padding: 0 20px;
}

  /* header */
  .header-logo img {
    width: 160px;
    height: 32px;
    margin: 30px auto;
  }

  /* main */
  .main-visual img {
    height: auto;
    object-fit: cover;
  }
.main-nav ul {
  margin-top:30px;
}
.main-nav li {
  font-size: 16px;
}
.main-nav li + li {
  margin-left: 50px;
}


/* concept  */
.concept-wrapper {
  display: block;
}
.concept-img {
  width: 100%;
  height: auto;
  margin-top: 70px;
}
.concept-info {
  margin-top: 30px;
  margin-left: 20px;
  width: 100%;
}
.concept-info h1 {
  font-size: 26px;
  margin-top: 20px;
}
.concept-p  {
  margin-top: 30px;
}
.concept-p p {
  font-size: 15px;
}

/* blog */
.blog-header {
  margin-top: 70px;
}
.blog-header h1 {
  font-size: 30px;
}
.blog-header p {
  margin-top: 5px;
  font-size: 12px;
  font-weight: bold;
}
.blog-info ul {
  display: block;
  margin-top: 30px;
}
.blog-info img {
  width: 100%;
}
.blog-info li {
  width: 100%;
}
.blog-info li h2 {
  margin-top: 15px;
  font-size: 15px;
}
.blog-info li time {
  margin-top: 5px;
}
.blog-info li + li {
  margin-top: 20px;
}
.blog button {
margin-top: 29.5px;
width: 100%;
height: 50px;
}

/* footer */
footer {
margin-top: 51px;
height: 150px;
}
.footer-logo img {
  height: 20px;
  width: 100px;
  margin-top: 60px;margin-bottom: 40px;
}
footer small {
  font-size: 10px;
  margin-bottom: 20px;
}
}